//// Style for a test component
/// Used in Home.jsx
@import '../variables';

// Test autoprefixer compilation
.testAutoprefixer {
  background: linear-gradient(to bottom, white, cyan);
  border-radius: 25px;
  color: $color-fourth;
  padding: 50px;
  transition: all .5s;
  user-select: none;
  width: 400px;

  div, ul {
    display: inline-block;
  }
  ul {
    margin-top: 10px;
  }
}

// Test Sass compilation
$testColor: cyan;
.testSass {
  color: $testColor;
}
