//- Global
mixin debug(message)
	h1= message

//- Images
mixin imgResponsive(imageNameWithoutExt, imageAlt, imageTitle, viewport)
	- var srcsets = ''
	- var imgResponsiveLength = imgResponsive.length - 1
	
	each resolution, index in imgResponsive
		- if ( index < imgResponsiveLength )
			- srcsets += imgsrc + imageNameWithoutExt + '-' + resolution + imgext + ' ' + resolution + 'w, '
		- else
			- srcsets += imgsrc + imageNameWithoutExt + imgext + ' ' + resolution + 'w'
	
	if !viewport
		//- desktop 970 / 1900 ~= 51%
		//- - var viewport = "51vw"
		- var viewport = "60vw"

	//- +debug(srcsets)
	//- outputs something like "images/example-320.jpg 320w, images/example-640.jpg 640w, images/example-960.jpg 960w, images/example.jpg 1280w", see /templates/_vars.pug
	//- Last resolution image is the original, assumming base name file is the hd > 												^^^
	
	img(	alt=		imageAlt
			height=		'851'
			sizes= 		viewport
			src=		imgsrc +  imageNameWithoutExt + imgext
			srcset=		srcsets
			title=		imageTitle
			width=		'1280'
	)