//- Need defined variables before include : content, imageFileName, imageAlt, imageTitle, imageFileName2, imageAlt2, imageTitle2
//- title is optionnal
//- imageColumnSize between 1 & 12
//- imagePosition "Left" or "Right"

article.column-full.removePaddings.dualImages
	.dualImages
		.column-6
			//- 												desktop 750 / 1900 ~= 39%
			//- +imgResponsive(imageFileName, imageAlt, imageTitle, '40vw')
			+imgResponsive(imageFileName, imageAlt, imageTitle, '50vw')
		.column-6
			//- +imgResponsive(imageFileName2, imageAlt2, imageTitle2, '40vw')
			+imgResponsive(imageFileName2, imageAlt2, imageTitle2, '50vw')
	.imageText
		if title
			h4= title
		if content
			p.hyphenate(lang="en-us")!= content