//- Need defined variables before include : content, imageColumnSize, imageFileName, imageAlt, imageTitle
//- title is optionnal
//- imageColumnSize between 1 & 12
//- imagePosition "Left" or "Right"

//- If image 8/4 text, desktop 970 / 1900 ~= 51%, "60vw" default in imgResponsive mixin
- var viewport = "60vw"
//- If image 9/3 text, 1096 / 1900 ~= 58%
if (imageColumnSize == 9)
	- var viewport = "70vw"
	//- - var viewport = "58vw"

article.column-full.removePaddings
	.imageAndtextContainer
		div(class='column-' + imageColumnSize + ' image' + imagePosition)
			+imgResponsive(imageFileName, imageAlt, imageTitle, viewport)
		.imageText
			if title
				h4= title
			p.hyphenate(lang="en-us")!= content