<div class="left">
	<ul>
		<li>
			<div class="label">
				<div class="icon"><i class="far fa-folder-open"></i></div>
				<div class="text">Tous les projets</div>
			</div>
			<div class="content">
				<input type="search" placeholder="Rechercher" />
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Cumque, soluta maxime perspiciatis eveniet!</li>
					<li>Sequi dolores placeat, neque dignissimos?</li>
					<li>Amet nisi alias, sit hic.</li>
					<li>Aperiam dolore corporis, reiciendis nihil.</li>
				</ul>
			</div>
		</li>

		<li>
			<div class="label">
				<div class="icon"><i class="fas fa-chart-pie"></i></div>
				<div class="text">Mes projets</div>
			</div>
			<div class="content">
				<input type="search" placeholder="Rechercher" />
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Cumque, soluta maxime perspiciatis eveniet!</li>
					<li>Sequi dolores placeat, neque dignissimos?</li>
					<li>Amet nisi alias, sit hic.</li>
					<li>Aperiam dolore corporis, reiciendis nihil.</li>
				</ul>
			</div>
		</li>

		<li>
			<div class="label">
				<div class="icon"><i class="fas fa-external-link-alt"></i></div>
				<div class="text">Export</div>
			</div>
		</li>

		<li>
			<div class="label">
				<div class="icon"><i class="fas fa-cog"></i></div>
				<div class="text">Configuration</div>
			</div>
			<ul>
				<li><a href="#">Gestion utilisateurs</a></li>
				<li><a href="#">Gestion groupes</a></li>
				<li><a href="#">Gestion rapports</a></li>
			</ul>
		</li>
	</ul>
</div>
