<div class="menu-subcontents">
	<div class="back">
		<i class="fas fa-arrow-left"></i>
	</div>
	
	<div class="menu-subcontent menu-all-projects">
		include menu-arbo.pug
	</div>

	<div class="menu-subcontent menu-my-projects">
		include menu-arbo.pug
	</div>

	<div class="menu-subcontent menu-configuration">
		<ul>
			<li><a href="#">Gestion utilisateurs</a></li>
			<li><a href="#">Gestion groupes</a></li>
			<li><a href="#">Gestion rapports</a></li>
		</ul>
	</div>

</div><!-- /.menu-subcontents -->


