<div class="top">
	<div class="logo">Logo</div>
	<ul>
		<li>
			<div class="label">Page de base</div>
		</li>
		<li>
			<div class="label">
				<div class="avatar">Avatar</div>
				<div class="name">Nom & prénom</div>
			</div>
			<div class="content">
				<ul>
					<li><a href="#">Modifier profil</a></li>
					<li><a href="#">Paramètres</a></li>
					<li><a href="#">Se déconnecter</a></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="label">Notifications</div>
			<div class="content">
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Dicta nemo, illum vitae autem.</li>
					<li>Aliquid quae in magnam aut!</li>
					<li>Aspernatur voluptas assumenda eius, quam.</li>
					<li>Nisi laboriosam ullam autem porro.</li>
					<li>Quae doloribus nam, accusantium ipsum?</li>
					<li>Praesentium, iusto quo in distinctio.</li>
					<li>Commodi, mollitia vitae architecto quisquam.</li>
					<li>Eaque eveniet a esse ullam.</li>
					<li>Magnam beatae ab cum saepe.</li>
				</ul>
				<a href="#">Afficher toutes les notifications</a>
			</div>
		</li>
	</ul>
</div>
