<div class="top">
	<div class="logo">Logo</div>

	<div class="menu-item" id="menu-home">
		<div class="label">
			<div class="icon"><i class="fas fa-home"></i></div>
			<div class="text">Accueil</div>
		</div>
	</div>

	<div class="menu-item" id="menu-profile">
		<div class="label">
			<div class="icon"><i class="fas fa-user"></i></div>
			<div class="text">Profil</div>
		</div>
	</div>

	<div class="menu-item" id="menu-fav">
		<div class="label">
			<div class="icon"><i class="far fa-star"></i></div>
			<div class="text">Favoris</div>
		</div>
	</div>

	<div class="menu-item" id="menu-notif">
		<div class="label">
			<div class="icon"><i class="fas fa-bullhorn"></i></div>
			<div class="text">Notifications</div>
			<div class="notif-number">5</div>
		</div>
	</div>
	
	<div class="menu-item" id="menu-burger">
		<div class="label">
			<div class="icon"><i class="fas fa-bars"></i></div>
			<div class="text">Menu</div>
		</div>
	</div>

</div>



<div class="contents top-contents">
	
	<div class="content menu-fav">
		<ul>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">KZ/dernier</a></li>
		</ul>
	</div>

	<div class="content menu-notif">
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Dicta nemo, illum vitae autem.</li>
			<li>Aliquid quae in magnam aut!</li>
			<li>Aspernatur voluptas assumenda eius, quam.</li>
			<li>Nisi laboriosam ullam autem porro.</li>
			<li>Quae doloribus nam, accusantium ipsum?</li>
			<li>Praesentium, iusto quo in distinctio.</li>
			<li>Commodi, mollitia vitae architecto quisquam.</li>
			<li>Eaque eveniet a esse ullam.</li>
			<li>Magnam beatae ab cum saepe.</li>
		</ul>
		<a href="#">Afficher toutes les notifications</a>
	</div>

	<div class="content menu-profile">
		<div class="avatar">
			<img src="assets/visuals/images/tests/avatar.jpg" alt="Picture of me and mah kat" height="100px" width="100px" title="avatar" />
		</div>
		<div class="name">Maxime Chevasson</div>
		<ul>
			<li><a href="#">Modifier mon profil</a></li>
			<li><a href="#">Paramètres</a></li>
			<li><a href="#">Se déconnecter</a></li>
		</ul>
	</div>

</div>
