<div class="top">

	<div class="logo">Logo</div>

	<div class="menu-item" id="menu-home">
		<div class="label">
			<div class="icon"><i class="fas fa-home"></i></div>
			<div class="text">Accueil</div>
		</div>
	</div>

	<div class="menu-item" id="menu-profile">
		<div class="label">
			<div class="icon"><i class="fas fa-user"></i></div>
			<div class="text">Profil</div>
		</div>
	</div>

	<div class="menu-item" id="menu-fav">
		<div class="label">
			<div class="icon"><i class="far fa-star"></i></div>
			<div class="text">Favoris</div>
		</div>
	</div>

	<div class="menu-item" id="menu-notif">
		<div class="label">
			<div class="icon"><i class="fas fa-bullhorn"></i></div>
			<div class="text">Notifications</div>
			<div class="notif-number">5</div>
		</div>
	</div>
	
	<div class="menu-item" id="menu-burger">
		<div class="label">
			<div class="icon"><i class="fas fa-bars"></i></div>
			<div class="text">Menu</div>
		</div>
	</div>

</div><!-- /.top -->