<input type="search" placeholder="Rechercher" />
<ul>
	<li>Lorem ipsum dolor sit amet.</li>
	<li>Cumque, soluta maxime perspiciatis eveniet!</li>
	<li>Sequi dolores placeat, neque dignissimos?</li>
	<li>Amet nisi alias, sit hic.</li>
	<li>Aperiam dolore corporis, reiciendis nihil.</li>
</ul>
