<div class="left">
	<ul>
		<li>
			<div class="label">Tous les projets</div>
			<div class="content">
				<input type="search" placeholder="Rechercher" />
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Cumque, soluta maxime perspiciatis eveniet!</li>
					<li>Sequi dolores placeat, neque dignissimos?</li>
					<li>Amet nisi alias, sit hic.</li>
					<li>Aperiam dolore corporis, reiciendis nihil.</li>
				</ul>
			</div>
		</li>

		<li>
			<div class="label">Mes projets</div>
			<div class="content">
				<input type="search" placeholder="Rechercher" />
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Cumque, soluta maxime perspiciatis eveniet!</li>
					<li>Sequi dolores placeat, neque dignissimos?</li>
					<li>Amet nisi alias, sit hic.</li>
					<li>Aperiam dolore corporis, reiciendis nihil.</li>
				</ul>
			</div>
		</li>

		<li>
			<div class="label">
				Export
			</div>
		</li>

		<li>
			<div class="label">Configuration</div>
			<ul>
				<li><a href="#">Gestion utilisateurs</a></li>
				<li><a href="#">Gestion groupes</a></li>
				<li><a href="#">Gestion rapports</a></li>
			</ul>
		</li>
	</ul>
</div>
