<div class="top">
	<div class="logo">Logo</div>

	<div class="menu-item" id="menu-home">
		<div class="label">
			<div class="icon"><i class="fas fa-home"></i></div>
			<div class="text">Accueil</div>
		</div>
	</div>

	<div class="menu-item" id="menu-profile">
		<div class="label">
			<div class="icon"><i class="fas fa-user"></i></div>
			<div class="text">Profil</div>
		</div>
		<div class="content">
			<div class="avatar">Avatar</div>
			<div class="name">Nom & prénom</div>
			<ul>
				<div class="menu-item"><a href="#">Modifier profil</a></div>
				<div class="menu-item"><a href="#">Paramètres</a></div>
				<div class="menu-item"><a href="#">Se déconnecter</a></div>
			</ul>
		</div>
	</div>

	<div class="menu-item" id="menu-fav">
		<div class="label">
			<div class="icon"><i class="far fa-star"></i></div>
			<div class="text">Favoris</div>
		</div>
		<div class="content">
			<div class="avatar">Avatar</div>
			<div class="name">Nom & prénom</div>
			<ul>
				<div class="menu-item"><a href="#">Modifier profil</a></div>
				<div class="menu-item"><a href="#">Paramètres</a></div>
				<div class="menu-item"><a href="#">Se déconnecter</a></div>
			</ul>
		</div>
	</div>

	<div class="menu-item" id="menu-notif">
		<div class="label">
			<div class="icon"><i class="fas fa-bullhorn"></i></div>
			<div class="text">Notifications</div>
			<div class="notif-number">5</div>
		</div>
		<div class="content">
			<ul>
				<div class="menu-item">Lorem ipsum dolor sit amet.</div>
				<div class="menu-item">Dicta nemo, illum vitae autem.</div>
				<div class="menu-item">Aliquid quae in magnam aut!</div>
				<div class="menu-item">Aspernatur voluptas assumenda eius, quam.</div>
				<div class="menu-item">Nisi laboriosam ullam autem porro.</div>
				<div class="menu-item">Quae doloribus nam, accusantium ipsum?</div>
				<div class="menu-item">Praesentium, iusto quo in distinctio.</div>
				<div class="menu-item">Commodi, mollitia vitae architecto quisquam.</div>
				<div class="menu-item">Eaque eveniet a esse ullam.</div>
				<div class="menu-item">Magnam beatae ab cum saepe.</div>
			</ul>
			<a href="#">Afficher toutes les notifications</a>
		</div>
	</div>
	
	<div class="menu-item" id="menu-burger">
		<div class="label">
			<div class="icon"><i class="fas fa-bars"></i></div>
			<div class="text">Menu</div>
		</div>
	</div>

</div>
