<div class="menu-contents">
	
	<div class="menu-content menu-fav">
		<ul>
			<li>
				<a href="#">
					<div class="id">BX/17200272</div>
					<div class="adress">Construction de 4 maisons jumelées rue X. Arnozan Pessac</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">UF/95315723</div>
					<div class="adress">Construction de 410 maisons jumelées rue X. Arnozan Pessac avec une petite annexe qui va te donner pas mal de texte en plus plus tavu toussah on rajoute des lignes.</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">KZ/32896432</div>
					<div class="adress">Construction de 4 maisons</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">ZT/32896432</div>
					<div class="adress">réhabilitation immeuble 300 logements</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">BX/17200272</div>
					<div class="adress">Construction de 4 maisons jumelées rue X. Arnozan Pessac</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">UF/95315723</div>
					<div class="adress">Construction de 410 maisons jumelées rue X. Arnozan Pessac avec une petite annexe qui va te donner pas mal de texte en plus plus tavu toussah on rajoute des lignes.</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">KZ/32896432</div>
					<div class="adress">Construction de 4 maisons</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">ZT/32896432</div>
					<div class="adress">réhabilitation immeuble 300 logements</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">BX/17200272</div>
					<div class="adress">Construction de 4 maisons jumelées rue X. Arnozan Pessac</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">UF/95315723</div>
					<div class="adress">Construction de 410 maisons jumelées rue X. Arnozan Pessac avec une petite annexe qui va te donner pas mal de texte en plus plus tavu toussah on rajoute des lignes.</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">KZ/32896432</div>
					<div class="adress">Construction de 4 maisons</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">ZT/32896432</div>
					<div class="adress">réhabilitation immeuble 300 logements</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">BX/17200272</div>
					<div class="adress">Construction de 4 maisons jumelées rue X. Arnozan Pessac</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">UF/95315723</div>
					<div class="adress">Construction de 410 maisons jumelées rue X. Arnozan Pessac avec une petite annexe qui va te donner pas mal de texte en plus plus tavu toussah on rajoute des lignes.</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">KZ/32896432</div>
					<div class="adress">Construction de 4 maisons</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">ZT/32896432</div>
					<div class="adress">réhabilitation immeuble 300 logements</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">BX/17200272</div>
					<div class="adress">Construction de 4 maisons jumelées rue X. Arnozan Pessac</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">UF/95315723</div>
					<div class="adress">Construction de 410 maisons jumelées rue X. Arnozan Pessac avec une petite annexe qui va te donner pas mal de texte en plus plus tavu toussah on rajoute des lignes.</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">KZ/32896432</div>
					<div class="adress">Construction de 4 maisons</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="id">ZT/32896432</div>
					<div class="adress">C'est le dernier</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="menu-content menu-notif">

		<ul class="notifications">
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Lorem ipsum dolor sit amet.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Voluptatem, quibusdam esse doloremque. Ipsam consequuntur blanditiis eveniet enim et.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Consectetur adipisicing elit. Sapiente, ad.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Eius illum rem earum, sequi dolor odit in mollitia magni!</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Atque veritatis nihil aliquam amet minus voluptatem facilis maxime, iure.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Iure iste, esse eaque pariatur porro deserunt quas ab dolor. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Ducimus quo autem distinctio in quia aspernatur quibusdam dolores recusandae.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Nam veritatis molestias reprehenderit cum facere alias, voluptatum voluptas autem.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Ut maxime aspernatur tempore! Alias pariatur officiis, minima odio blanditiis.</div>
			</li>
		</ul>

		<a href="notifications.html">Afficher toutes les notifications</a>
	</div>

	<div class="menu-content menu-profile">
		<div class="avatar">
			<img src="assets/visuals/images/tests/avatar.jpg" alt="Picture of me and mah kat" height="100px" width="100px" title="avatar" />
		</div>
		<div class="name">Maxime Chevasson</div>
		<ul>
			<li><a href="#">Modifier mon profil</a></li>
			<li><a href="#">Paramètres</a></li>
			<li><a href="#">Se déconnecter</a></li>
		</ul>
	</div>

	<div class="menu-content menu-burger">
		// Required to place left menu here for mobile nav
		include menu-left.pug
		include menu-subcontents.pug
	</div>

</div><!-- /.menu-contents -->


