<div class="menu-contents top-contents">
	
	<div class="menu-content menu-fav">
		<ul>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">BX/17200272</a></li>
			<li><a href="#">ZT/95315723</a></li>
			<li><a href="#">UF/71354696</a></li>
			<li><a href="#">KZ/32896432</a></li>
			<li><a href="#">KZ/dernier</a></li>
		</ul>
	</div>

	<div class="menu-content menu-notif">

		<ul class="notifications">
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Lorem ipsum dolor sit amet.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Voluptatem, quibusdam esse doloremque. Ipsam consequuntur blanditiis eveniet enim et.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Consectetur adipisicing elit. Sapiente, ad.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Eius illum rem earum, sequi dolor odit in mollitia magni!</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Atque veritatis nihil aliquam amet minus voluptatem facilis maxime, iure.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Iure iste, esse eaque pariatur porro deserunt quas ab dolor. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore. Vel a obcaecati et perferendis, amet quae eos voluptatum inventore.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-check-circle"></i></div>
				<div class="text">Ducimus quo autem distinctio in quia aspernatur quibusdam dolores recusandae.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-exclamation-circle"></i></div>
				<div class="text">Nam veritatis molestias reprehenderit cum facere alias, voluptatum voluptas autem.</div>
			</li>
			<li class="notification">
				<div class="icon"><i class="fas fa-info-circle"></i></div>
				<div class="text">Ut maxime aspernatur tempore! Alias pariatur officiis, minima odio blanditiis.</div>
			</li>
		</ul>

		<a href="#">Afficher toutes les notifications</a>
	</div>

	<div class="menu-content menu-profile">
		<div class="avatar">
			<img src="assets/visuals/images/tests/avatar.jpg" alt="Picture of me and mah kat" height="100px" width="100px" title="avatar" />
		</div>
		<div class="name">Maxime Chevasson</div>
		<ul>
			<li><a href="#">Modifier mon profil</a></li>
			<li><a href="#">Paramètres</a></li>
			<li><a href="#">Se déconnecter</a></li>
		</ul>
	</div>

</div><!-- /.menu-contents.top-contents -->

