<div class="left">

	<div class="menu-subitem" id="menu-all-projects">
		<div class="label">
			<div class="icon"><i class="far fa-folder-open"></i></div>
			<div class="text">Tous les projets</div>
		</div>
	</div>

	<div class="menu-subitem" id="menu-my-projects">
		<div class="label">
			<div class="icon"><i class="fas fa-chart-pie"></i></div>
			<div class="text">Mes projets</div>
		</div>
	</div>

	<div class="menu-subitem" id="menu-export">
		<a href="export.html">
			<div class="label">
				<div class="icon"><i class="fas fa-external-link-alt"></i></div>
				<div class="text">Export</div>
			</div>
		</a>
	</div>

	<div class="menu-subitem" id="menu-configuration">
		<div class="label">
			<div class="icon"><i class="fas fa-cog"></i></div>
			<div class="text">Configuration</div>
		</div>
	</div>

</div><!-- /.left -->
