//// Menu stylesheet
body {
	// Menu top, content margin
	padding-top: 60px;
}

.menus {
	
	i {
		font-size: 2rem;

		&:hover {
			cursor: pointer;
			color: $color-primary-darken;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.label {
		padding-bottom: .75rem;
		padding-top: .75rem;
		position: relative;
	}
	.left, .top {
		position: fixed;
	}
}

// menu top
.top {
	background-color: #fff;
	border-bottom: 5px solid #e1e1e1;
	display: flex;
	height: 60px;
	justify-content: space-around;
	top: 0;
	width: 100%;

	.logo {
		/* Mobile, default, No logo */
		display: none;
	}
	.text {
		display: none;
	}
}


// menu left
.left {
	/* Mobile, default, left menu is closed */
	display: none;
	height: 100%;
	width: 100px;
	
	ul {
		position: absolute;
		top: 50%;
	}
	li {
		margin-left: 1em;
	}
}


.notif-number {
	background-color: $color-user-info;
	border-radius: 50%;
	bottom: 2px;
	color: #fff;
	line-height: 20px;
	height: 20px;
	position: absolute;
	right: -10px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}


.contents {
	background-color: rgba(255,255,255,.9);
	display: none;
	height: calc(100% - 60px);
	top: 60px;
	padding: 1rem;
	position: fixed;
	overflow: auto;
	width: 100%;
}

.content {
	display: none;
}


// shame
