//// Menu stylesheet
.menus {
	.left, .top {
		position: fixed;
		text-align: right;
	} 
}

// menu top
.top {
	height: 100px;
	width: 100%;

	li {
		display: inline;
		margin-right: 1em;
	}
}


// menu left
.left {
	height: 100%;
	width: 100px;
	
	ul {
		position: absolute;
		top: 50%;
	}
	li {
		list-style-type: none;
		margin-left: 1em;
	}
}