//// Menu stylesheet
.menus {
	.left, .top {
		position: fixed;
		text-align: right;
	} 
}

// menu top
.top {
	height: 100px;
	width: 100%;

	li {
		display: inline;
		margin-right: 1em;
	}

	.logo {
		/* Mobile, default, No logo */
		display: none;
	}
}


// menu left
.left {
	/* Mobile, default, left menu is closed */
	display: none;
	height: 100%;
	width: 100px;
	
	ul {
		position: absolute;
		top: 50%;
	}
	li {
		list-style-type: none;
		margin-left: 1em;
	}
}