//// Viewport stuff
@-webkit-viewport{
	width: device-width;
	zoom: 1;
}
@-moz-viewport{
	width: device-width;
	zoom: 1;
}
@-ms-viewport{
	width: device-width;
	zoom: 1;
}
@-o-viewport{
	width: device-width;
	zoom: 1;
}
@viewport{
	width: device-width;
	zoom: 1;
}

 

//// Native elements
* {
	box-sizing: border-box;
}
body {
	// background-color: $color-primary; // inline in templates/_html-header.pug in order to prevent bg color flash
	color: $color-sixth;
	font-family: $fontText, sans-serif;
	font-size: 1rem;
	hyphens: auto;
}

// titles
h1, h2, h3, h4, h5, h6 {
	color: $color-sixth;
	font-family: $fontTitle, serif;
	letter-spacing: .1em;
	text-shadow: 1px 2px rgba(0,0,0,.2);
}

// @for $i from 1 through 6 {
// 	h#{$i} {
// 		font-size: 4.4em - $i * .4;
// 	}
// }

h1 {
	font-size: 3rem;
}
	h1.principal {
		font-size: 4.4rem;
	}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {
	font-size: 1.12rem;
}
h6 {
	font-size: 1rem;
}



// links
a {
	color: $color-third;

	&:visited {
		color: darken($color-third, 10%);
	}

	&:active,
	&:hover {
		color: $color-fourth;
	}

	&.active {
		color: $color-fourth;
	}
}

em {
	color: lighten($color-sixth, 10%);
}

// forms
fieldset {

	td {
		display: inline-block;
		padding: 5px;

		@media screen and (min-width: $responsiveBreakpointSmall) {
			display: table-cell;
		}
	}
}

// separator
hr {
	background-color: $color-fifth;
	border: 0;
	border-bottom: 1px solid $color-secondary;
	margin: 2em 0;
	height: 1px;
}

// images
img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

legend {
	padding: 0 .5em;
	margin: 0 1em;
}

p {
	line-height: 1.4em;
	word-break: break-word;
}

strong {
	// color: lighten($color-sixth, 10%);
}


//// Containers
/// cf. neat responsive grid

$grid: (
	columns: 1,
	gutter: 0
);
$neatBreakpoint: (
	columns: 12,
	gutter: 2rem,
	media: $responsiveBreakpoint
);

.container {
	@include grid-container;
	
	margin: 0 auto;
	max-width: $containerMaxWidth;
}

.column-full {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(12);

		margin-bottom: 1em;
	}
}
.column-9 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(9);
	}
}
.column-8 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(8);
	}
}
.column-6 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(6);
	}
}
.column-4 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(4);
	}
}
.column-3 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(3);
	}
}
.column-2 {
	@include grid-column(1, $grid);

	@include grid-media( $neatBreakpoint ) {
		@include grid-column(2);
	}
}



//// Colors 				// TODO > all main colors & chaos bp
.color-third {
	color: $color-third;
}

//// Simple classes
.container {
	// background-color: $color-secondary;
	// background-color: rgba(23, 34, 34, 0.9);// $color-secondary;
	// background-color: rgba(224, 239, 241, 0.9); // white
}


















































//