//// Tests related stylesheet
@import 'variables';
@import 'bourbon';
@import "neat";



// Basic stuff for tests
.testColor-1 {
	background-color: darken($color-primary, 10%);
}
.testColor-2 {
	background-color: darken($color-primary, 20%);
}
.testContainer {
	align-items: center;
	display: flex;
	height: 20em;
	justify-content: center;
}


// Neat tests
.test-single-column {
	background-color: red;
	height: 100px;
}

// Hyphenate test
.hyphenate {
	hyphens: auto;
}