//// Variable stylesheet
// Place here all you variables (grid, responsive sizes, color, etc.)

/// Colors
$color-primary:  				rgb(20, 204, 174);
$color-secondary: 				#e9ece5;
$color-third:    				#b3c2bf;
$color-fourth:   				#3b3a36;
$color-fifth:   				#3b3a36;
$color-sixth:   				rgb(20, 204, 174);
$color-error:    				#d33;



/// Fonts
$fontText: 						'OpenSans';
$fontTitle: 					'Exo';
$fontsPath: 					'../../assets/fonts/';



/// Grid stuff
$containerMaxWidth:				100em; // ~1600px
$responsiveBreakpointSmall:		40em; // ~750px
$responsiveBreakpoint:			60em; // ~1000px
$responsiveBreakpointLarge:		80em; // ~1300px