//// Main stylesheet

/// Native elements
body {
	background-color: $color-primary;
	color: $color-fourth;
	font-family: $fontText, sans-serif;
}
// HX
h1, h2, h3, h4, h5, h6 {
	color: $color-secondary;
	font-family: $fontTitle, serif;
	letter-spacing: .1em;
	text-shadow: 1px 2px $color-fourth;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: 4em - $i * .4;
	}
}

// a & hover
a {
	color: darken($color-primary, 20%);

	&:visited {
		color: darken($color-primary, 20%);
	}

	&:active,
	&:hover {
		color: darken($color-third, 10%);
	}

	&.active {
		color: $color-fourth;
	}
}

// separator
hr {
	border-bottom: 1px solid $color-third;
	margin: 1.5em 1em;
}

legend {
	padding: 0 .5em;
	margin: 0 1em;
}

fieldset td {
	padding: 5px;
}
/// Simple classes
