# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Bower dependency directory (https://bower.io/)
bower_components

# Optional npm cache directory
.npm
package-lock.json


# Chaos
## builds
*.html
*.css

## Debug
css-unminified/

## tests
tests/pugjs/html
tests/sass/style.css