# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Bower dependency directory (https://bower.io/)
bower_components

# Optional npm cache directory
.npm
package-lock.json

# builds
prod
tests/pugjs/html