//// Main stylesheet

/// Native elements
body {
	background-color: $color-primary;
	color: $color-fourth;
	font-family: $fontText, sans-serif;
}
// HX
h1, h2, h3, h4, h5, h6 {
	color: $color-secondary;
	font-family: $fontTitle, cursive;
	letter-spacing: .1em;
	margin-bottom: 20px;
	text-shadow: 1px 2px $color-fourth;
}
h2 {
	font-size: 2.5em;
}

// a & hover
a {
	color: darken($color-primary, 20%);

	&:visited {
		color: darken($color-primary, 20%);
	}

	&:active,
	&:hover {
		color: darken($color-third, 10%);
	}

	&.active {
		color: $color-fourth;
	}
}

/// Simple classes

// misc
.code {
	background-color: $color-fourth;
	border-radius: 5px;
	color: $color-secondary;
	display: inline-block;
	font-family: 'SourceCodePro', sans-serif;
	margin: 10px 0;
	padding: 15px;
}
.error {
	color: $color-error;
}
.highlight {
	color: $color-primary;
}
.logo {
	border: none;
	height: 100px;
	position: absolute;
	right: 20px;
	top: 0px;
	width: auto;
}
