//// Variable stylesheet
/// Place here all you variables (grid, responsive sizes, color, etc.)

$color-primary:   #c0dfd9;
$color-secondary: #e9ece5;
$color-third:     #b3c2bf;
$color-fourth:    #3b3a36;
$color-error:     #d33;
