//--- Global

- var titleText = 'Chaos boilerplate'
- var titleSeparator = ' / '



//--- Images

- var imgsrc 	= 'assets/visuals/images/'
- var imgext 	= '.jpg'

//- You must have images named like "example-320.jpg", "example-640.jpg", "example-960.jpg", "example.jpg"
- var imgResponsive = [320, 640, 960, 1280]