include templates/_vars.pug

- var pageName = "Toolbox"

include templates/_html-header.pug

h2 "Chaos" boilerplate
p Have fun using it :)
p I'd recommand taking a look to the toolbox page, and then to the readme.md

include templates/_html-footer.pug