include templates/_vars.pug
include templates/_html-header.pug

h2 "Chaos" boilerplate
p Have fun using it :)
<p>I'd recommand taking a look to the <a href='_toolbox.html' title="Components & style examples :)"> toolbox page</a>, and then to the readme.md</p>

include templates/_html-footer.pug