include templates/_vars
include templates/_mixins
include templates/_html-header



article.column-full
	h1 "Chaos" boilerplate 404 error page
	p.hyphenate(lang="en-us") Don't really how you got there, but there is nothing
	p.hyphenate(lang="en-us") consider going back to the <a href='index.html' title="Return to the main page, yay !">main page</a>, and hf browsing our website ^^'



include templates/_html-footer