include templates/_vars
include templates/_mixins
include templates/_html-header

article.column-full
	h1 Page d'export
	p.hyphenate(lang="en-us") Page contenant les exports

include templates/_html-footer