include templates/_vars
include templates/_mixins
include templates/_html-header

include templates/menus.pug


article.column-full
	h1 Ebauche des menus BTP
	p.hyphenate(lang="en-us") Basé sur mon boilerplate


include templates/_html-footer