include templates/_vars
include templates/_mixins
include templates/_html-header

article.column-full
	h1 Ebauche des menus BTP
	p.hyphenate(lang="en-us") Basé sur mon boilerplate
	p.hyphenate(lang="en-us") exemple de lien : <a href="#">hey</a> ! Juste pour vérifier que les styles sautent pas.

include templates/_html-footer