include templates/_vars
include templates/_mixins
include templates/_html-header



article.column-full
	h1 "Chaos" boilerplate
	p.hyphenate(lang="en-us") Contains sh*ttons of technologies & good practices. Go read Readme.md for info.
	p.hyphenate(lang="en-us") I'd recommand taking a look to the <a href='_toolbox.html' title="Components & style examples :)">toolbox page</a>, and then to the readme.md
	p.hyphenate(lang="en-us") Have fun using it :)



include templates/_html-footer