include templates/_vars
include templates/_mixins
include templates/_html-header



main(role='main')
	section.container
		article.column-full
			h2 "Chaos" boilerplate
			p.hyphenate(lang="en-us") Have fun using it :)
			p.hyphenate(lang="en-us") I'd recommand taking a look to the <a href='_toolbox.html' title="Components & style examples :)"> toolbox page</a>, and then to the readme.md



include templates/_html-footer