include templates/_vars
include templates/_mixins
include templates/_html-header

article.column-full
	h1 Page contenant toutes les notifications
	p.hyphenate(lang="en-us") Ouvrez vos chakras et imaginez plein de notifications ici

include templates/_html-footer